body {
    background-image: url("materials/pic/b2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p, h1, h2 {
    text-align: center;
}

.wpx {
    width: 300px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

.fontSize {
    font-size: 25px;
}